@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold tracking-tight text-gray-900;
  }
  h2 {
    @apply text-3xl font-semibold tracking-tight text-gray-800;
  }
  h3 {
    @apply text-2xl font-medium tracking-tight text-gray-700;
  }
  h3 {
    @apply text-sm font-extrabold text-gray-700;
  }
  p {
    @apply text-base leading-relaxed text-gray-600;
  }
}

:root {
  --background: #ffffff;
  --foreground: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
